<!doctype html>
<html>

<head>
    <title>Qiitaタグ自動生成</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="/" method="POST">
        <input type="text" name="url" size="70" placeholder="Qiita記事URL"></input>
        <input type="submit" value="タグ生成"></input>
    </form>

    <h2><a href={{ qiita_url }} target=”_blank”>{{ title }}</a></h2>

    <p class="error-Tags">{{ error_msg }}</p>

    <h3>自動生成されたタグ</h3>
    <h4>
        order by
        <select id="sort-value" onchange="switchTagResults()">
            <option value="value" selected="selected">重要度</option>
            <option value="followers">フォロワー数</option>
            <option value="counts">記事数</option>
        </select>
    </h4>


    <div id="tag-value">

    <div class="it-Tags">
        {% for tag in tags1 %}
        <span class="it-Tags_item">{{tag.name}}</span>
        {% endfor %}
    </div>

    <p>
    <table border="1" style="border-collapse: collapse">
        <tbody>
        {% if tags1 %}
        <tr>
            <th>タグ名</th>
            <th>フォロワー数</th>
            <th>重要度</th>
            <th>記事数</th>
        </tr>
        {% endif %}
        {% for tag in tags1 %}
        <tr>
            <td>{{tag.name}}</td>
            <td>{{tag.followers}}</td>
            <td>{{tag.value}}</td>
            <td>{{tag.counts}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
    </div>


    <div id="tag-followers" style="display: None">

    <div class="it-Tags">
        {% for tag in tags2 %}
        <span class="it-Tags_item">{{tag.name}}</span>
        {% endfor %}
    </div>

    <p>
    <table border="1" style="border-collapse: collapse">
        <tbody>
        {% if tags2 %}
        <tr>
            <th>タグ名</th>
            <th>フォロワー数</th>
            <th>重要度</th>
            <th>記事数</th>
        </tr>
        {% endif %}
        {% for tag in tags2 %}
        <tr>
            <td>{{tag.name}}</td>
            <td>{{tag.followers}}</td>
            <td>{{tag.value}}</td>
            <td>{{tag.counts}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
    </div>


    <div id="tag-counts" style="display: None">

    <div class="it-Tags">
        {% for tag in tags3 %}
        <span class="it-Tags_item">{{tag.name}}</span>
        {% endfor %}
    </div>

    <p>
    <table border="1" style="border-collapse: collapse">
        <tbody>
        {% if tags3 %}
        <tr>
            <th>タグ名</th>
            <th>フォロワー数</th>
            <th>重要度</th>
            <th>記事数</th>
        </tr>
        {% endif %}
        {% for tag in tags3 %}
        <tr>
            <td>{{tag.name}}</td>
            <td>{{tag.followers}}</td>
            <td>{{tag.value}}</td>
            <td>{{tag.counts}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
    </div>


    <h3>現在登録されているタグ</h3>

    <div class="it-Tags">
        {% for tag in tags4 %}
        <span class="it-Tags_item">{{tag.name}}</span>
        {% endfor %}
    </div>

    <p>
    <table border="1" style="border-collapse: collapse">
        <tbody>
        {% if tags4 %}
        <tr>
            <th>タグ名</th>
            <th>フォロワー数</th>
            <th>重要度</th>
            <th>記事数</th>
        </tr>
        {% endif %}
        {% for tag in tags4 %}
        <tr>
            <td>{{tag.name}}</td>
            <td>{{tag.followers}}</td>
            <td>{{tag.value}}</td>
            <td>{{tag.counts}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
</body>
</html>
